/*-------*/
/*Globals*/
/*-------*/

.jumbotron.form {
	position:relative;
	top:50px;
	margin-left:20%;
	margin-right:20%;
	background-color: #343a40;
	color: lightgray;
	text-align: center; 
	border-radius: 10px;
}

.btn.btn-success{
	background-color:#5cb85c!important;
}

.btn.btn-success:hover{
	background-color:#99c499!important;
}

.btn.btn-info{
	background-color:#5bc0de !important;
}

.btn.btn-info:hover{
	background-color:#90ccdf !important;
}

/*----------*/
/*Header.php*/
/*----------*/

#header_jumbo{
	background-image: url(/webeng3/media/cine2.jpg);
    background-position:center;
    background-size:cover;
    border-radius:0px;
    margin-bottom: 0px!important;
}

#primary_title{
	text-align:center;
}

.display-2.text-warning.font-weight-bold:hover{
	color:#ffd666!important;
	text-decoration:none;
}

#secondary_title{
	text-align:center;
	color:white;
}

.blockquote-footer {
	text-align:right;
	color:white;
	position:relative;
	top: 50px;
}

#about_link{
	color:rgb(180, 180, 180);
}

#about_link:hover{
	color:white;
	font-weight:bold;
}

/*
#main_dropdown_button{
	text-align: center;
	font-weight: bold;
}

.dropdown-item{
	text-align: center;
}
*/

.btn-main{
    height: 39px;
    width: 120px;
    background:#ffbb33;
    margin: 0px;
    float: center;
/*    box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: black;
	text-align: center;
}
.btn-main:hover{
    -webkit-transform: scale(1.1);
	background: #ffbb33;
/*	box-shadow: 0 0 0px #ccc;*/
	color: black;
}

.btn-login{
    height: 39px;
    width: 100px;
    background:#5cb85c;
    margin: 0px;
    float: center;
/* 	box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: #eee;
	text-align: center;
}
.btn-login:hover{
    -webkit-transform: scale(1.1);
	background:#5cb85c;
/*	box-shadow: 0 0 0px #ccc;*/
	color:#fff;
}

.btn-profile{
    height: 39px;
    width: 100px;
    background: #5bc0de;
    margin: 0px;
    float: center;
 /* box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: #eee;
	text-align: center;
}
.btn-profile:hover{
    -webkit-transform: scale(1.1);
	background:#5bc0de;
/*	box-shadow: 0 0 0px #ccc;*/
	color:#fff;
}

.btn-logout{
    height: 39px;
    width: 100px;
    background: #d9534f;
    margin: 0px;
    float: center;
/*	box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: #eee;
	text-align: center;
}
.btn-logout:hover{
    -webkit-transform: scale(1.1);
	background:#d9534f;
/*	box-shadow: 0 0 10px #ccc;*/
	color:#fff;
}


/*---------*/
/*Index.php*/
/*---------*/


#searchText {
	text-align:center;
	border-color:white;
	border-radius:10px;
	border-width:0px;
}

.form-control:focus {
	box-shadow: 0 0 30px #ffbb33;
/*	padding: 3px 0px 3px 3px;*/
	margin: 5px 1px 3px 0px;
	border: 1px solid#ffbb33;
}

Form.form-control {
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
/*padding: 3px 0px 3px 3px;*/
margin: 5px 1px 3px 0px;
border: 1px solid #ffbb33;
}

#search_jumbo {
	background-color:transparent;
}

/*---------*/
/*Login.php*/
/*---------*/

#login_footer {
	position:relative;
	text-align:center;
	top:30px;
}

#login_box2 {

	position:relative;
	left:2px;

}


/*-----------*/
/*Register.php*/
/*-----------*/

#register_header {
	position:relative;
	bottom:20px;
}

.register_box {
	position:relative;
	left: 30px;
}

#rb2 {
	left:46px!important;
}

#rb3 {
	left:32px!important;
}

#rb4 {
	position:relative;
	left:1px!important;
}

#register_footer {
	position:relative;
	text-align:center;
	top:30px;
}


/*--------------*/
/*Wishlist table*/
/*--------------*/

#wishlist {
	position:relative;
	top:50px;
	margin-left:20%;
	margin-right:20%;
	background-color: #343a40;
	text-align: center;
	color:lightgray;
}

table.table-dark.table-hover {
	position:relative;
	border-radius:15px;
	align-text:center;
}

.table > thead > tr:first-child > td, 
.table > tbody > tr:first-child > td {
	border: none;
}

.table > thead > tr:first-child > td {
	background-color:rgb(30, 30, 30);
	color:white!important;
	text-decoration:bold;
	font-size: 20px!important;
}

.table > tbody > tr:first-child > td {
	border-top: 3px solid grey;
}

.paginate_button{
	background-color: grey;
	position:relative;
	left:8px;
}

.table.dataTable thead > tr:first-child > td:nth-child(3).sorting,
.table.dataTable thead > tr:first-child > td:nth-child(3) .sorting_asc,
.table.dataTable thead > tr:first-child > td:nth-child(3) .sorting_desc,
.table.dataTable thead > tr:first-child > td:nth-child(3).sorting_asc_disabled,
.table.dataTable thead > tr:first-child > td:nth-child(3) .sorting_desc_disabled {
  	background-image: none!important;
}

.table.bg-dark.dataTable.no-footer {
	margin-bottom:10px;
}


#data-table_filter{
	position:relative;
	left:7px;
}


#data-table_wrapper .btn{
	background-color: #5bc0de!important;
	color:white;	
	border-color:#5bc0de;
}

#data-table_wrapper.dataTables_wrapper.no-footer table#data-table.table.bg-dark.dataTable.no-footer tbody tr.even{
	background-color: #3f464d;
	color:white;	
	border-color:transparent;
}

#data-table_wrapper.dataTables_wrapper.no-footer table#data-table.table.bg-dark.dataTable.no-footer tbody tr.odd {
	background-color: #343a40;
	color:white;
	border-color: transparent;
}

#data-table_wrapper.dataTables_wrapper.no-footer div#data-table_length.dataTables_length {
	color: grey;
	position:relative;
	top:3px;
}

#data-table_wrapper.dataTables_wrapper.no-footer div#data-table_filter.dataTables_filter {
	color:grey;
}

#data-table_wrapper.dataTables_wrapper.no-footer table#data-table.table.bg-dark.dataTable.no-footer thead tr.table-no-border {
	color:grey;
}

#data-table_wrapper.dataTables_wrapper.no-footer div#data-table_info.dataTables_info {
	color:grey;
}

#data-table.table.bg-dark.dataTable.no-footer {
	border:3px solid grey!important;
}


/*----------------*/
/* Search results */
/*----------------*/
@media only screen and (min-width: 768px) {
	#movie_board {
	}
}

#movie_item {
	height:326px;
	width:220px;
	margin-bottom:100px;
	text-align:center;
}

#movie_poster {
	position:absolute;
	top:50%;
	left:50%;
	width:220px;
	height:326px;
	margin-top:-163px;
	margin-left:-110px;
	-webkit-transition: all 0.3s ease-in-out;
	cursor:pointer;
}

#movie_poster:hover {
	-webkit-transform: scale(1.1);
	cursor:pointer;
}

#movie_title {
	color:rgb(180, 180, 180);
	position: relative;
	top: 375px;
	text-align:center;
	left:15px;
	cursor: pointer;
}

#movie_title:hover {
	color:white;
	font-weight:bold;
	text-decoration: none;
	cursor:pointer;
}

#movie_button_1{
	position: relative;
	top: 330px;
	text-align:center;
	left:120px;
	vertical-align:middle;
	font-weight: 900;
	width:38px;
}

#no_poster {
	position:absolute;
	top:66%;
	left:50%;
	width:220px;
	height:auto;
	margin-top:-163px;
	margin-left:-110px;
	cursor:pointer;
}


/*---------------*/
/* Movie details */
/*---------------*/

#movie_poster_full {
	position:absolute;
	top:50%;
	left:50%;
	width:220px;
	height:326px;
	margin-top:-163px;
	margin-left:-110px;
}

#no_poster_full {
	position:absolute;
	top:66%;
	left:50%;
	width:220px;
	height:auto;
	margin-top:-163px;
	margin-left:-110px;
}

#movie_btn_1, #movie_btn_2, #movie_btn_3 {
	 width: 300px;
	 position:relative;
	 left:120px;
	 margin-right:30px;
	 top:-20px;
}

#movie_btn_2 {
	margin-right:35px;
}

#movie_title_full {
	color:white;
	text-decoration: underline;
	text-align: center;
}

#movie_details_jumbo {
	position:relative;
	left:70px;
	background-color: #343a40;
}

#movie_poster_jumbo {
	width: 280px;
	position:relative;
	margin-right:20px;
	left:70px;
	background-color: #343a40;
}

#genre_li, #release_li, #cast_li, #director_li, #plot_li{
	background-color: #343a40;
	color:lightgrey;
	border:transparent;
}

#movie_btn_disabled {
	background-color: grey;
	width: 300px;
	position:relative;
	left:120px;
	margin-right:30px;
	top:-20px;
	color:white!important;
}

/*------------------*/
/* YE OLDE SETTINGS */
/*------------------*/
/*

#movies img, #movie img {
	width:50%
}	
@media(min-width:960px){
   #movies .col-md-3 .well{
      height:320px;
   }

   #movies .col-md-3 img{
	  height:180px;
   }
}

*{
	
	   margin:: 0px;
	   padding:0px;
	}
	
*/

/*body{
	
	font-size:120%;
	background:#f8f8ff;
}	

.header{
	
	width:30%;
	margin:50px auto 0px;
	color : white;
	background:#2A9FD6;
	text-align:center;
	border:1px solid #boc4de;
	border-bottom:none;
	border-radius : 10px 10px 0px 0px;
	padding:20px;
	
}

*/
/*
.input-group{
	
	margin:10px 0px 10px 0px;
}

.input-group label {
	
	display:block;
	text-align:left;
	margin : 3px;
}

.btn {
	
	padding: 10px;
	font-size:15px;
	border-radius: 5px;
	border: none;
	color:white;
	
}

.input-group input {
	
	height : 30px;
	width:93%;
	padding:5px 10px;
	font-size:16px;
	border-radius: 5px;
	border: 1px solid gray;
	
}


.form{
	
	width:30%;
	margin: 0px auto;
	padding:20px;
	border: 1px solid #B0c4de;
	background: white ;
	border-radius:0px 0px 10px 10px;
}

.error {
	
	width:92%;
	margin:0px auto;
	padding:10px;
	border:1px solid #a94442;
	color:#a94442;
	background:#f2dede;
	border-radius: 5px;
	text-align:left;
}

*/