/*-------*/
/*Globals*/
/*-------*/

.jumbotron.form {
	position:relative;
	top:50px;
	margin-left:20%;
	margin-right:20%;
	background-color: #343a40;
	color: lightgray;
	text-align: center; 
	border-radius: 10px;
}

.btn.btn-success{
	background-color:#5cb85c!important;
}

/*----------*/
/*Header.php*/
/*----------*/

#header_jumbo{
	background-image: url(/webeng3/media/cine2.jpg);
    background-position:center;
    background-size:cover;
    border-radius:0px;
    margin-bottom: 0px!important;
}

#primary_title{
	text-align:center;
}

.display-2.text-warning.font-weight-bold:hover{
	color:#ffd666!important;
	text-decoration:none;
}

#secondary_title{
	text-align:center;
	color:white;
}

.blockquote-footer {
	text-align:right;
	color:white;
	position:relative;
	top: 50px;
}

#about_link{
	color:rgb(180, 180, 180);
}

#about_link:hover{
	color:white;
	font-weight:bold;
}

/*
#main_dropdown_button{
	text-align: center;
	font-weight: bold;
}

.dropdown-item{
	text-align: center;
}
*/

.btn-main{
    height: 39px;
    width: 120px;
    background:#ffbb33;
    margin: 0px;
    float: center;
/*    box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: black;
	text-align: center;
}
.btn-main:hover{
    -webkit-transform: scale(1.1);
	background: #ffbb33;
/*	box-shadow: 0 0 0px #ccc;*/
	color: black;
}

.btn-login{
    height: 39px;
    width: 100px;
    background:#5cb85c;
    margin: 0px;
    float: center;
/* 	box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: #eee;
	text-align: center;
}
.btn-login:hover{
    -webkit-transform: scale(1.1);
	background:#5cb85c;
/*	box-shadow: 0 0 0px #ccc;*/
	color:#fff;
}

.btn-profile{
    height: 39px;
    width: 100px;
    background: #5bc0de;
    margin: 0px;
    float: center;
 /* box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: #eee;
	text-align: center;
}
.btn-profile:hover{
    -webkit-transform: scale(1.1);
	background:#5bc0de;
/*	box-shadow: 0 0 0px #ccc;*/
	color:#fff;
}

.btn-logout{
    height: 39px;
    width: 100px;
    background: #d9534f;
    margin: 0px;
    float: center;
/*	box-shadow: 0 0 10px rgb(0, 0, 0);*/
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
	color: #eee;
	text-align: center;
}
.btn-logout:hover{
    -webkit-transform: scale(1.1);
	background:#d9534f;
/*	box-shadow: 0 0 10px #ccc;*/
	color:#fff;
}


/*---------*/
/*Index.php*/
/*---------*/


#searchText {
	text-align:center;
	border-color:#ffbb33;
	border-radius:10px;
	border-width:3px;
}


/*---------*/
/*Login.php*/
/*---------*/

#login_footer {
	position:relative;
	text-align:center;
	top:30px;
}

#login_box2 {

	position:relative;
	left:2px;

}

/*-----------*/
/*Profile.php*/
/*-----------*/

#wishlist {

	position:relative;
	top:50px;
	margin-left:20%;
	margin-right:20%;
	background-color: #343a40;
	text-align: center;
	color:lightgray;

}

table.table-dark.table-hover {

	position:relative;
	border-radius:15px;
	align-text:center;
		
}

.table > thead > tr:first-child > td, 
.table > tbody > tr:first-child > td {
    border: none;
}

/*-----------*/
/*Register.php*/
/*-----------*/

#register_header {
	position:relative;
	bottom:20px;
}

.register_box {
	position:relative;
	left: 30px;
}

#rb2 {
	left:46px!important;
}

#rb3 {
	left:32px!important;
}

#rb4 {
	position:relative;
	left:1px!important;
}

#register_footer {
	position:relative;
	text-align:center;
	top:30px;
}


/*--------------*/
/*Wishlist table*/
/*--------------*/

#data-table_wrapper .btn{
	background-color: #5bc0de!important;
	color:white;	
	border-color:#5bc0de;
}

#data-table_wrapper.dataTables_wrapper.no-footer table#data-table.table.bg-dark.dataTable.no-footer tbody tr.even{
	background-color:transparent;
	color:white;	
	border-color:transparent;
}

#data-table_wrapper.dataTables_wrapper.no-footer table#data-table.table.bg-dark.dataTable.no-footer tbody tr.odd {
	background-color: transparent;
	color:white;
	border-color: transparent;
}


#data-table_wrapper.dataTables_wrapper.no-footer div#data-table_length.dataTables_length {
	color: grey;
	position:relative;
	top:3px;
}

#data-table_wrapper.dataTables_wrapper.no-footer div#data-table_filter.dataTables_filter {
	color:grey;
}

#data-table_wrapper.dataTables_wrapper.no-footer table#data-table.table.bg-dark.dataTable.no-footer thead tr.table-no-border {
	color:grey;
}

#data-table_wrapper.dataTables_wrapper.no-footer div#data-table_info.dataTables_info {
	color:grey;
}


#data-table.table.bg-dark.dataTable.no-footer {
	border:transparent;
}


/*------------------*/
/* YE OLDE SETTINGS */
/*------------------*/
/*

#movies img, #movie img {
	width:50%
}	
@media(min-width:960px){
   #movies .col-md-3 .well{
      height:320px;
   }

   #movies .col-md-3 img{
	  height:180px;
   }
}

*{
	
	   margin:: 0px;
	   padding:0px;
	}
	
*/

/*body{
	
	font-size:120%;
	background:#f8f8ff;
}	

.header{
	
	width:30%;
	margin:50px auto 0px;
	color : white;
	background:#2A9FD6;
	text-align:center;
	border:1px solid #boc4de;
	border-bottom:none;
	border-radius : 10px 10px 0px 0px;
	padding:20px;
	
}

*/
/*
.input-group{
	
	margin:10px 0px 10px 0px;
}

.input-group label {
	
	display:block;
	text-align:left;
	margin : 3px;
}

.btn {
	
	padding: 10px;
	font-size:15px;
	border-radius: 5px;
	border: none;
	color:white;
	
}

.input-group input {
	
	height : 30px;
	width:93%;
	padding:5px 10px;
	font-size:16px;
	border-radius: 5px;
	border: 1px solid gray;
	
}


.form{
	
	width:30%;
	margin: 0px auto;
	padding:20px;
	border: 1px solid #B0c4de;
	background: white ;
	border-radius:0px 0px 10px 10px;
}

.error {
	
	width:92%;
	margin:0px auto;
	padding:10px;
	border:1px solid #a94442;
	color:#a94442;
	background:#f2dede;
	border-radius: 5px;
	text-align:left;
}

*/